body {
  font-family: sans-serif;
  margin: 0;
  padding: 15px;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif');
}

.wrap {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.profile {
  text-align: center;
  color: #FFF;
}

.photo {
  border-radius: 0%;
  margin-top: 20px;
}

.profile_name {
  font-weight: bold;
  display: block;
}

.at {
  font-size: 13px;
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links ul li {
  margin: 14px 0;
}

.link {
  padding: 14px;
  display: block;
  background-color: #9466FF;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: ease all 0.3s;
  color: #FFF;
}

.link:hover {
  opacity: 0.9;
  background-color: #170fff;
}

.card {
  padding: 20px;
  background-color: #FFF;
  border-radius: 4px;
}

.card h3 {
  margin: 0;
  color: #202024;
}

.card p {
  margin: 0px 0;
  font-size: 13px;
  color: #202024;
}

.header {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  align-items: center;
  justify-content: center;

}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

.sweet, .stuff{
  width:100%;
  display:block;
}

.sweet{margin-bottom: 0px;}

.sweet-title {
 color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 4rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}

.eightbit-btn {
  background: #9466FF;
  display: block;
  position: relative;
  text-align: center;
  font-size: 8px;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #683ad2;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #170fff;
  box-shadow: inset -6px -6px 0px 0px #0a0696;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #9466FF;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
